*.avi
*.png
*.jpg
*.jpeg
*.ipynb_checkpoints
*.idea
*__pycache__*
*.pyc
*.cfg
!.gitignore
pretrain_model/
*.mp4
log/
model/

*.txt
log/fan_rav_date_30-Nov-2023-15-50-30.txt
Miniconda3-latest-Linux-x86_64.sh
